main > h4 {
    color: green;
}
input[type="text"]:valid {
    background-color: palegreen;
}
/* input[name="fname2"]:invalid + span::before {
    content: "❌";
    color: red;
} */
br + h4 {
    color: palevioletred;
}
input[type="url"]:invalid {
color: palevioletred;
}

