* /*root: calls html index doc and *calls all elements*/{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* This always has to go at the beginning */
}
body {
   /* background-color: lightblue;
    background-image: url("../images/background");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30rem;*/
}
/* h1, 
h2, 
h3, 
#top, 
.dark, 
nav ul li a {
    color: blue;
} */
/* menu */
header nav {
    background-color: rgba(0, 0, 0, 0.76);
    position: fixed;
}
header nav ul li {
    height: 3rem;
    display: inline;
    margin-left: 3rem;
}
/* main */
h1 {
    /*option 1*/
    color: plum;
    /*option 2*/
    color: #CCC;
    /*option 3*/
    color: rgb(221, 160, 221); /*0-255 for colours*/
    /*option 4*/
    /*color: rgba();*/
    background-color: rgba(20, 181, 235, 0.2); /*0-1 for transparency*/
    font-family: 'Cormorant Garamond', serif; /*second font is a backup in case of error*/
    font-size: 2rem;/*avoid cm/inches etc when you don't know your target device*/
    font-weight: 900;
}
/*DRY Don't repeat yourself*/
section div {
    width: 3rem;
    height: 3rem;
    border: 2px black solid;
    border-radius: 50%; /*how much rounding for the corners*/
}
#red {
    background-color: red;
}
#orange {
    background-color: orange;
}
#green {
    background-color: greenyellow;
}
/* Home main */
.something {
    width: 10rem;
    height: 20rem;
    background-color: deepskyblue;
    margin: 20rem 5rem 5rem 2rem;
    /* border: 12px red solid; */
    border-width: 10px 22px 30px 10px;
    border-color: red orange blue gray;
    border-style: dashed;
}
/* About main*/
main img {
    width: 150px;
    height: 150px;
    border-top: 40px black solid;
    padding: 10px;
}

h1 {
    color: black;
    /*letter-spacing: 50px;*/
    word-spacing: 50px;
    text-indent: 100px;
}
p {
    line-height: 30px;
}
