/*use solo selectors e.g., p {} at the beginning of document if at all so they don't override previous specifications and are easy to check-think unspecific to specific*/
li {
    background-color: blue;
}
div p {
    background-color: red;
}
ul li {
    background-color: yellow;
}
nav ul li {
    background-color: gray;
}
.dark-style {
    background-color: black;
}
.light {
    color: orange;
}
